
@{
    ViewBag.Title = "All_department";
    ViewBag.NamePage = "Bütün Departamentlər";
    Layout = "~/Views/Shared/_HrLayout.cshtml";
}



<div class="white-box">
    <p class="text-muted m-b-30">Hesabat al: Kopyala, CSV, Excel, PDF & Çap Et</p>
    <div class="table-responsive">
        <table id="example23" class="display nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>İD</th>
                    <th>Ad</th>
                    <th>Direktor</th>
                    <th>Qeydiyyat tarixi</th>
                    <th>Şöbə Sayı</th>
                    <th>Bölmə Sayı</th>
                    <th>Admin</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>İD</th>
                    <th>Ad</th>
                    <th>Direktor</th>
                    <th>Qeydiyyat tarixi</th>
                    <th>Şöbə Sayı</th>
                    <th>Bölmə Sayı</th>
                    <th>Admin</th>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td>098456</td>
                    <td>İnsan Resursları</td>
                    <td>Verdiyev Həsən İmamyar oğlu</td>
                    <td>05-08-2017</td>
                    <td>12</td>
                    <td>26</td>
                    <td><button class=" ButtonPreventDefault m-r-5 btn-js">@Html.ActionLink("Bax/Dəyiş", "View_edit_department", "Main", new { @class = "MyLinkButton" })</button><button class="btn btn-default btn-outline btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>098456</td>
                    <td>İnsan Resursları</td>
                    <td>Verdiyev Həsən İmamyar oğlu</td>
                    <td>05-08-2017</td>
                    <td>12</td>
                    <td>26</td>
                    <td><button class=" ButtonPreventDefault m-r-5 btn-js">@Html.ActionLink("Bax/Dəyiş", "View_edit_department", "Main", new { @class = "MyLinkButton" })</button><button class="btn btn-default btn-outline btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>098456</td>
                    <td>İnsan Resursları</td>
                    <td>Verdiyev Həsən İmamyar oğlu</td>
                    <td>05-08-2017</td>
                    <td>12</td>
                    <td>26</td>
                    <td><button class=" ButtonPreventDefault m-r-5 btn-js">@Html.ActionLink("Bax/Dəyiş", "View_edit_department", "Main", new { @class = "MyLinkButton" })</button><button class="btn btn-default btn-outline btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>098456</td>
                    <td>İnsan Resursları</td>
                    <td>Verdiyev Həsən İmamyar oğlu</td>
                    <td>05-08-2017</td>
                    <td>12</td>
                    <td>26</td>
                    <td><button class=" ButtonPreventDefault m-r-5 btn-js">@Html.ActionLink("Bax/Dəyiş", "View_edit_department", "Main", new { @class = "MyLinkButton" })</button><button class="btn btn-default btn-outline btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>098456</td>
                    <td>İnsan Resursları</td>
                    <td>Verdiyev Həsən İmamyar oğlu</td>
                    <td>05-08-2017</td>
                    <td>12</td>
                    <td>26</td>
                    <td><button class=" ButtonPreventDefault m-r-5 btn-js">@Html.ActionLink("Bax/Dəyiş", "View_edit_department", "Main", new { @class = "MyLinkButton" })</button><button class="btn btn-default btn-outline btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>098456</td>
                    <td>İnsan Resursları</td>
                    <td>Verdiyev Həsən İmamyar oğlu</td>
                    <td>05-08-2017</td>
                    <td>12</td>
                    <td>26</td>
                    <td><button class=" ButtonPreventDefault m-r-5 btn-js">@Html.ActionLink("Bax/Dəyiş", "View_edit_department", "Main", new { @class = "MyLinkButton" })</button><button class="btn btn-default btn-outline btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>098456</td>
                    <td>İnsan Resursları</td>
                    <td>Verdiyev Həsən İmamyar oğlu</td>
                    <td>05-08-2017</td>
                    <td>12</td>
                    <td>26</td>
                    <td><button class=" ButtonPreventDefault m-r-5 btn-js">@Html.ActionLink("Bax/Dəyiş", "View_edit_department", "Main", new { @class = "MyLinkButton" })</button><button class="btn btn-default btn-outline btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>098456</td>
                    <td>İnsan Resursları</td>
                    <td>Verdiyev Həsən İmamyar oğlu</td>
                    <td>05-08-2017</td>
                    <td>12</td>
                    <td>26</td>
                    <td><button class=" ButtonPreventDefault m-r-5 btn-js">@Html.ActionLink("Bax/Dəyiş", "View_edit_department", "Main", new { @class = "MyLinkButton" })</button><button class="btn btn-default btn-outline btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>098456</td>
                    <td>İnsan Resursları</td>
                    <td>Verdiyev Həsən İmamyar oğlu</td>
                    <td>05-08-2017</td>
                    <td>12</td>
                    <td>26</td>
                    <td><button class=" ButtonPreventDefault m-r-5 btn-js">@Html.ActionLink("Bax/Dəyiş", "View_edit_department", "Main", new { @class = "MyLinkButton" })</button><button class="btn btn-default btn-outline btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>098456</td>
                    <td>İnsan Resursları</td>
                    <td>Verdiyev Həsən İmamyar oğlu</td>
                    <td>05-08-2017</td>
                    <td>12</td>
                    <td>26</td>
                    <td><button class=" ButtonPreventDefault m-r-5 btn-js">@Html.ActionLink("Bax/Dəyiş", "View_edit_department", "Main", new { @class = "MyLinkButton" })</button><button class="btn btn-default btn-outline btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>098456</td>
                    <td>İnsan Resursları</td>
                    <td>Verdiyev Həsən İmamyar oğlu</td>
                    <td>05-08-2017</td>
                    <td>12</td>
                    <td>26</td>
                    <td><button class=" ButtonPreventDefault m-r-5 btn-js">@Html.ActionLink("Bax/Dəyiş", "View_edit_department", "Main", new { @class = "MyLinkButton" })</button><button class="btn btn-default btn-outline btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>098456</td>
                    <td>İnsan Resursları</td>
                    <td>Verdiyev Həsən İmamyar oğlu</td>
                    <td>05-08-2017</td>
                    <td>12</td>
                    <td>26</td>
                    <td><button class=" ButtonPreventDefault m-r-5 btn-js">@Html.ActionLink("Bax/Dəyiş", "View_edit_department", "Main", new { @class = "MyLinkButton" })</button><button class="btn btn-default btn-outline btn-danger">Sil</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>