
@{
    ViewBag.Title = "All_employee";
    ViewBag.NamePage = "Bütün İşçilər";
    Layout = "~/Views/Shared/_HrLayout.cshtml";
}

<div class="white-box">
    <p class="text-muted m-b-30">Hesabat al: Kopyala, CSV, Excel, PDF & Çap Et</p>
    <div class="table-responsive">
        <table id="example23" class="display nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>İşçi İD</th>
                    <th>Ad</th>
                    <th>Vəzifə</th>
                    <th>Departament</th>
                    <th>Qeydiyyat tarixi</th>
                    <th>Əlaqə</th>
                    <th>Admin</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>İşçi İD</th>
                    <th>Ad</th>
                    <th>Vəzifə</th>
                    <th>Departament</th>
                    <th>Qeydiyyat tarixi</th>
                    <th>Əlaqə</th>
                    <th>Admin</th>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td>*62457</td>
                    <td>Samir Rüstəmov</td>
                    <td>İR Mütəxəssis</td>
                    <td>İR Departament</td>
                    <td>05-05-2017</td>
                    <td><span>+994502256060</span><br><span>samir@gmail.com</span></td>
                    <td><button class=" ButtonPreventDefault m-r-5 btn-js">@Html.ActionLink("Bax/Dəyiş", "View_edit_employee", "Main", new { @class = "MyLinkButton" })</button><button class="btn btn-default btn-outline btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>012477</td>
                    <td>Samir Rüstəmov</td>
                    <td>İR Mütəxəssis</td>
                    <td>İR Departament</td>
                    <td>05-05-2017</td>
                    <td><span>+994502256060</span><br><span>samir@gmail.com</span></td>
                    <td><button class=" ButtonPreventDefault m-r-5 btn-js">@Html.ActionLink("Bax/Dəyiş", "View_edit_employee", "Main", new { @class = "MyLinkButton" })</button><button class="btn btn-default btn-outline btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>012557</td>
                    <td>Samir Rüstəmov</td>
                    <td>İR Mütəxəssis</td>
                    <td>İR Departament</td>
                    <td>05-05-2017</td>
                    <td><span>+994502256060</span><br><span>samir@gmail.com</span></td>
                    <td><button class=" ButtonPreventDefault m-r-5 btn-js">@Html.ActionLink("Bax/Dəyiş", "View_edit_employee", "Main", new { @class = "MyLinkButton" })</button><button class="btn btn-default btn-outline btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>212457</td>
                    <td>Samir Rüstəmov</td>
                    <td>İR Mütəxəssis</td>
                    <td>İR Departament</td>
                    <td>05-05-2017</td>
                    <td><span>+994502256060</span><br><span>samir@gmail.com</span></td>
                    <td><button class=" ButtonPreventDefault m-r-5 btn-js">@Html.ActionLink("Bax/Dəyiş", "View_edit_employee", "Main", new { @class = "MyLinkButton" })</button><button class="btn btn-default btn-outline btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>012497</td>
                    <td>Samir Rüstəmov</td>
                    <td>İR Mütəxəssis</td>
                    <td>İR Departament</td>
                    <td>05-05-2017</td>
                    <td><span>+994502256060</span><br><span>samir@gmail.com</span></td>
                    <td><button class=" ButtonPreventDefault m-r-5 btn-js">@Html.ActionLink("Bax/Dəyiş", "View_edit_employee", "Main", new { @class = "MyLinkButton" })</button><button class="btn btn-default btn-outline btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>012457</td>
                    <td>Samir Rüstəmov</td>
                    <td>İR Mütəxəssis</td>
                    <td>İR Departament</td>
                    <td>05-05-2017</td>
                    <td><span>+994502256060</span><br><span>samir@gmail.com</span></td>
                    <td><button class=" ButtonPreventDefault m-r-5 btn-js">@Html.ActionLink("Bax/Dəyiş", "View_edit_employee", "Main", new { @class = "MyLinkButton" })</button><button class="btn btn-default btn-outline btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>012457</td>
                    <td>Samir Rüstəmov</td>
                    <td>İR Mütəxəssis</td>
                    <td>İR Departament</td>
                    <td>05-05-2017</td>
                    <td><span>+994502256060</span><br><span>samir@gmail.com</span></td>
                    <td><button class=" ButtonPreventDefault m-r-5 btn-js">@Html.ActionLink("Bax/Dəyiş", "View_edit_employee", "Main", new { @class = "MyLinkButton" })</button><button class="btn btn-default btn-outline btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>012457</td>
                    <td>Samir Rüstəmov</td>
                    <td>İR Mütəxəssis</td>
                    <td>İR Departament</td>
                    <td>05-05-2017</td>
                    <td><span>+994502256060</span><br><span>samir@gmail.com</span></td>
                    <td><button class=" ButtonPreventDefault m-r-5 btn-js">@Html.ActionLink("Bax/Dəyiş", "View_edit_employee", "Main", new { @class = "MyLinkButton" })</button><button class="btn btn-default btn-outline btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>012457</td>
                    <td>Samir Rüstəmov</td>
                    <td>İR Mütəxəssis</td>
                    <td>İR Departament</td>
                    <td>05-05-2017</td>
                    <td><span>+994502256060</span><br><span>samir@gmail.com</span></td>
                    <td><button class=" ButtonPreventDefault m-r-5 btn-js">@Html.ActionLink("Bax/Dəyiş", "View_edit_employee", "Main", new { @class = "MyLinkButton" })</button><button class="btn btn-default btn-outline btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>012457</td>
                    <td>Samir Rüstəmov</td>
                    <td>İR Mütəxəssis</td>
                    <td>İR Departament</td>
                    <td>05-05-2017</td>
                    <td><span>+994502256060</span><br><span>samir@gmail.com</span></td>
                    <td><button class=" ButtonPreventDefault m-r-5 btn-js">@Html.ActionLink("Bax/Dəyiş", "View_edit_employee", "Main", new { @class = "MyLinkButton" })</button><button class="btn btn-default btn-outline btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>012457</td>
                    <td>Samir Rüstəmov</td>
                    <td>İR Mütəxəssis</td>
                    <td>İR Departament</td>
                    <td>05-05-2017</td>
                    <td><span>+994502256060</span><br><span>samir@gmail.com</span></td>
                    <td><button class=" ButtonPreventDefault m-r-5 btn-js">@Html.ActionLink("Bax/Dəyiş", "View_edit_employee", "Main", new { @class = "MyLinkButton" })</button><button class="btn btn-default btn-outline btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>012457</td>
                    <td>Samir Rüstəmov</td>
                    <td>İR Mütəxəssis</td>
                    <td>İR Departament</td>
                    <td>05-05-2017</td>
                    <td><span>+994502256060</span><br><span>samir@gmail.com</span></td>
                    <td><button class=" ButtonPreventDefault m-r-5 btn-js">@Html.ActionLink("Bax/Dəyiş", "View_edit_employee", "Main", new { @class = "MyLinkButton" })</button><button class="btn btn-default btn-outline btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>012457</td>
                    <td>Samir Rüstəmov</td>
                    <td>İR Mütəxəssis</td>
                    <td>İR Departament</td>
                    <td>05-05-2017</td>
                    <td><span>+994502256060</span><br><span>samir@gmail.com</span></td>
                    <td><button class=" ButtonPreventDefault m-r-5 btn-js">@Html.ActionLink("Bax/Dəyiş", "View_edit_employee", "Main", new { @class = "MyLinkButton" })</button><button class="btn btn-default btn-outline btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>012457</td>
                    <td>Samir Rüstəmov</td>
                    <td>İR Mütəxəssis</td>
                    <td>İR Departament</td>
                    <td>05-05-2017</td>
                    <td><span>+994502256060</span><br><span>samir@gmail.com</span></td>
                    <td><button class=" ButtonPreventDefault m-r-5 btn-js">@Html.ActionLink("Bax/Dəyiş", "View_edit_employee", "Main", new { @class = "MyLinkButton" })</button><button class="btn btn-default btn-outline btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>012457</td>
                    <td>Samir Rüstəmov</td>
                    <td>İR Mütəxəssis</td>
                    <td>İR Departament</td>
                    <td>05-05-2017</td>
                    <td><span>+994502256060</span><br><span>samir@gmail.com</span></td>
                    <td><button class=" ButtonPreventDefault m-r-5 btn-js">@Html.ActionLink("Bax/Dəyiş", "View_edit_employee", "Main", new { @class = "MyLinkButton" })</button><button class="btn btn-default btn-outline btn-danger">Sil</button></td>
                </tr>
                <tr>
                    <td>012457</td>
                    <td>Samir Rüstəmov</td>
                    <td>İR Mütəxəssis</td>
                    <td>İR Departament</td>
                    <td>05-05-2017</td>
                    <td><span>+994502256060</span><br><span>samir@gmail.com</span></td>
                    <td><button class=" ButtonPreventDefault m-r-5 btn-js">@Html.ActionLink("Bax/Dəyiş", "View_edit_employee", "Main", new { @class = "MyLinkButton" })</button><button class="btn btn-default btn-outline btn-danger">Sil</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>